In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import cluster, metrics
from sklearn.cluster import KMeans
from sklearn.utils import shuffle
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt

In [3]:
def make_shuffle(x):
    col = x.columns.tolist()
    col = col[1:] + [col[0]]
    reorder_data = x[col]
    reorder_data = shuffle(reorder_data)
    return reorder_data

In [4]:
path = "./bankruptcy_HW1_train.csv"
data = pd.read_csv(path).drop(["Unnamed: 0"],axis=1)
data = make_shuffle(data)
data

,Net worth/Assets,Debt ratio %,ROA(C) before interest and depreciation before interest,Per Share Net profit before tax (Yuan ¥),Bankrupt?
7235,0.844154,0.155846,0.485945,0.180412,1
4286,0.861928,0.138072,0.475552,0.169993,0
3316,0.815703,0.184297,0.513674,0.186639,0
1523,0.880068,0.119932,0.488178,0.170746,0
6894,0.771745,0.228255,0.442780,0.133874,1
...,...,...,...,...,...
6444,0.809580,0.190420,0.424972,0.147190,1
6661,0.808150,0.191850,0.498070,0.164069,1
139,0.952626,0.047374,0.571832,0.212021,0
7145,0.824381,0.175619,0.462153,0.161361,1
1148,0.878435,0.121565,0.490031,0.177977,0

In [5]:
# data_without_label = data.drop(["Bankrupt?"],axis=1)
data_without_label = data
data_without_label

,Net worth/Assets,Debt ratio %,ROA(C) before interest and depreciation before interest,Per Share Net profit before tax (Yuan ¥),Bankrupt?
7235,0.844154,0.155846,0.485945,0.180412,1
4286,0.861928,0.138072,0.475552,0.169993,0
3316,0.815703,0.184297,0.513674,0.186639,0
1523,0.880068,0.119932,0.488178,0.170746,0
6894,0.771745,0.228255,0.442780,0.133874,1
...,...,...,...,...,...
6444,0.809580,0.190420,0.424972,0.147190,1
6661,0.808150,0.191850,0.498070,0.164069,1
139,0.952626,0.047374,0.571832,0.212021,0
7145,0.824381,0.175619,0.462153,0.161361,1
1148,0.878435,0.121565,0.490031,0.177977,0

## Use kmeans to get the membership function

In [6]:
kmeans_fit = cluster.KMeans(n_clusters = 2 ).fit(data_without_label)
cluster_labels = kmeans_fit.labels_
cluster_labels = pd.DataFrame(cluster_labels, columns = ['predict'])
cluster_labels

      predict
0           0
1           1
2           1
3           1
4           0
...       ...
9257        0
9258        0
9259        1
9260        0
9261        1

[9262 rows x 1 columns]

In [7]:
cluster1_index = cluster_labels["predict"]==1
cluster2_index = cluster_labels["predict"]==0
cluster1_data = data[cluster1_index]
cluster2_data = data[cluster2_index]

<ipython-input-7-5a7fa808a6a2>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cluster1_data = data[cluster1_index]
<ipython-input-7-5a7fa808a6a2>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cluster2_data = data[cluster2_index]

In [8]:
print(np.array(cluster1_data['Bankrupt?']==1, dtype=float).sum())
print(np.array(cluster1_data['Bankrupt?']==0, dtype=float).sum())

2301.0
2330.0

In [9]:
cluster1_mean = cluster1_data.mean()
cluster2_mean = cluster2_data.mean()
cluster1_std = cluster1_data.std()
cluster2_std = cluster2_data.std()


ship = {"c1mean":cluster1_mean, "c2mean":cluster2_mean, "c1_std":cluster1_std, "c2_std":cluster2_std}

In [10]:
# np.save("membership.npy", membership)
# x = np.load("./membership.npy", allow_pickle=True)
print(ship)

{'c1mean':  Net worth/Assets                                           0.851372
 Debt ratio %                                               0.148708
 ROA(C) before interest and depreciation before interest    0.464095
 Per Share Net profit before tax (Yuan ¥)                   0.167078
Bankrupt?                                                   0.496869
dtype: float64, 'c2mean':  Net worth/Assets                                           0.850839
 Debt ratio %                                               0.149438
 ROA(C) before interest and depreciation before interest    0.463606
 Per Share Net profit before tax (Yuan ¥)                   0.166477
Bankrupt?                                                   0.503131
dtype: float64, 'c1_std':  Net worth/Assets                                           0.063962
 Debt ratio %                                               0.063768
 ROA(C) before interest and depreciation before interest    0.077544
 Per Share Net profit before tax (Yuan ¥)                   0.032320
Bankrupt?                                                   0.500044
dtype: float64, 'c2_std':  Net worth/Assets                                           0.065351
 Debt ratio %                                               0.065348
 ROA(C) before interest and depreciation before interest    0.078800
 Per Share Net profit before tax (Yuan ¥)                   0.033633
Bankrupt?                                                   0.500044
dtype: float64}

## use anfis

In [11]:
import anfis
from anfis import predict 
import membership.mfDerivs
import membership.membershipfunction
from sklearn.metrics import classification_report

### test/train

In [12]:
test_data = pd.read_csv("bankruptcy_HW1_test.csv").drop(["Unnamed: 0"],axis=1)
test = np.array(make_shuffle(test_data))
X_test, y_test = test[:, 0:4], test[:, 4]

train = np.array(data)
X, Y = train[:, 0:4], train[:, 4]

In [13]:
mf = [
        [['gaussmf',{'mean':ship["c1mean"][0],'sigma':ship["c1_std"][0]}],['gaussmf',{'mean':ship["c2mean"][0],'sigma': ship["c2_std"][0]}]],
        [['gaussmf',{'mean':ship["c1mean"][1],'sigma':ship["c1_std"][1]}],['gaussmf',{'mean':ship["c2mean"][1],'sigma': ship["c2_std"][1]}]],
        [['gaussmf',{'mean':ship["c1mean"][2],'sigma':ship["c1_std"][2]}],['gaussmf',{'mean':ship["c2mean"][2],'sigma': ship["c2_std"][2]}]],
        [['gaussmf',{'mean':ship["c1mean"][3],'sigma':ship["c1_std"][3]}],['gaussmf',{'mean':ship["c2mean"][3],'sigma': ship["c2_std"][3]}]]]

In [15]:
EPOCH = 2
mfc = membership.membershipfunction.MemFuncs(mf)
anf = anfis.ANFIS(X, Y, mfc)
anf.trainHybridJangOffLine(epochs=EPOCH)

current error: 1002.7390197101369

array([[ 0.4382845 ],
       [ 0.44017026],
       [ 0.4732031 ],
       ...,
       [-0.08142172],
       [ 0.66628265],
       [ 0.29944361]])

In [16]:
def prediction(anfis, X):
    y_pred = np.squeeze(predict(anf, X), axis=1)
    y_pred[y_pred >= 0.5] = 1
    y_pred[y_pred < 0.5] = 0
    return y_pred

In [17]:
y_test_pred = prediction(anfis, X_test)
y_train_pred = prediction(anfis, X)

In [18]:
print(classification_report(y_test, y_test_pred))
print(classification_report(Y, y_train_pred))

              precision    recall  f1-score   support

         0.0       0.99      0.82      0.90      1968
         1.0       0.16      0.88      0.28        78

    accuracy                           0.82      2046
   macro avg       0.58      0.85      0.59      2046
weighted avg       0.96      0.82      0.88      2046

              precision    recall  f1-score   support

         0.0       0.91      0.83      0.87      4631
         1.0       0.84      0.92      0.88      4631

    accuracy                           0.88      9262
   macro avg       0.88      0.88      0.87      9262
weighted avg       0.88      0.88      0.87      9262

In [ ]:
FP = []
for i in range(len(y_test)):
    if y_test[i] == 0 and y_test_pred[i]==1:
        FP.append(i)

In [100]:
X_test[FP]

array([[0.78562143, 0.21437857, 0.50246185, 0.17368381],
       [0.86350032, 0.13649968, 0.46433969, 0.17217745],
       [0.79106328, 0.20893672, 0.47686833, 0.1732319 ],
       ...,
       [0.8330562 , 0.1669438 , 0.45288354, 0.16381713],
       [0.76990054, 0.23009946, 0.56934627, 0.19070573],
       [0.8378934 , 0.1621066 , 0.46463218, 0.16298863]])