In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import cluster, metrics
from sklearn.utils import shuffle
import matplotlib.pyplot as plt

In [2]:
path = "../bankruptcy_HW1_train.csv"
data = pd.read_csv(path).drop(["Unnamed: 0"],axis=1)

In [3]:
data

,Bankrupt?,Net worth/Assets,Debt ratio %,Per Share Net profit before tax (Yuan ¥),ROA(C) before interest and depreciation before interest
0,0,0.888200,0.111800,0.184454,0.500951
1,0,0.847689,0.152311,0.166755,0.479647
2,0,0.966895,0.033105,0.181969,0.516502
3,0,0.906310,0.093690,0.167960,0.446302
4,0,0.882396,0.117604,0.179935,0.575245
...,...,...,...,...,...
9257,1,0.824272,0.175728,0.161288,0.467220
9258,1,0.786659,0.213341,0.174660,0.494583
9259,1,0.806011,0.193989,0.193313,0.494676
9260,1,0.872011,0.127989,0.155082,0.417124
9261,1,0.837775,0.162225,0.166181,0.463788

In [10]:
data_test = pd.read_csv("../bankruptcy_HW1_test.csv").drop(["Unnamed: 0"],axis=1)

In [11]:
data_test

,Bankrupt?,Net worth/Assets,Debt ratio %,Per Share Net profit before tax (Yuan ¥),ROA(C) before interest and depreciation before interest
0,0,0.956193,0.043807,0.156963,0.434456
1,0,0.870000,0.130000,0.188522,0.542534
2,0,0.921365,0.078635,0.202305,0.584897
3,1,0.772682,0.227318,0.151842,0.436942
4,0,0.817305,0.182695,0.182345,0.506898
...,...,...,...,...,...
2041,0,0.904979,0.095021,0.176546,0.487739
2042,0,0.873265,0.126735,0.188747,0.517720
2043,0,0.905463,0.094537,0.184982,0.524204
2044,0,0.902984,0.097016,0.201928,0.576074
2045,0,0.839859,0.160141,0.198539,0.516453

In [13]:
#get the y and y_test
y = data["Bankrupt?"]
y_test = data_test["Bankrupt?"]

In [27]:
#read the data which output from matlab
#the fis is using kmeans
y_train_pred = pd.read_excel("bankruptcy_train_ANFIS_Output.xlsx")
y_test_pred = pd.read_excel("bankruptcy_test_ANFIS_Output.xlsx")

In [28]:
y_train_pred

      y_train_pred
0                0
1                0
2                0
3                0
4                0
...            ...
9257             0
9258             0
9259             1
9260             1
9261             0

[9262 rows x 1 columns]

In [30]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
print("Accuracy_train:",accuracy_score(y, y_train_pred))
print(classification_report(y, y_train_pred))
print("Accuracy_test:",accuracy_score(y_test, y_test_pred))
print(classification_report(y_test, y_test_pred))

Accuracy_train: 0.7431440293673073
              precision    recall  f1-score   support

           0       0.68      0.92      0.78      4631
           1       0.88      0.56      0.69      4631

    accuracy                           0.74      9262
   macro avg       0.78      0.74      0.73      9262
weighted avg       0.78      0.74      0.73      9262

Accuracy_test: 0.907624633431085
              precision    recall  f1-score   support

           0       0.98      0.92      0.95      1968
           1       0.23      0.59      0.33        78

    accuracy                           0.91      2046
   macro avg       0.60      0.75      0.64      2046
weighted avg       0.95      0.91      0.93      2046

In [31]:
#read the data which output from matlab
#the fis is using Gird partition
y_train_pred = pd.read_excel("bankruptcy_train_Grid_Output.xlsx")
y_test_pred = pd.read_excel("bankruptcy_test_Grid_Output.xlsx")

In [33]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
print("Accuracy_train:",accuracy_score(y, y_train_pred))
print(classification_report(y, y_train_pred))
print("Accuracy_test:",accuracy_score(y_test, y_test_pred))
print(classification_report(y_test, y_test_pred))

Accuracy_train: 0.867847117253293
              precision    recall  f1-score   support

           0       0.86      0.88      0.87      4631
           1       0.88      0.85      0.87      4631

    accuracy                           0.87      9262
   macro avg       0.87      0.87      0.87      9262
weighted avg       0.87      0.87      0.87      9262

Accuracy_test: 0.8787878787878788
              precision    recall  f1-score   support

           0       0.99      0.88      0.93      1968
           1       0.22      0.85      0.35        78

    accuracy                           0.88      2046
   macro avg       0.61      0.86      0.64      2046
weighted avg       0.96      0.88      0.91      2046